*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: auto;
    overflow: auto; /* Добавлено свойство overflow для прокрутки */
}

header {
    background-color: #333;
    color: #ffffff;
    padding: 20px;
    
    text-align: center;
    font-family: Arial, sans-serif;
}
#what{
    padding: 20px; 
    width: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

}


h1{
    font-family: Candara;
    word-spacing: 3px;
    letter-spacing: 0px;
    font-size: 60px;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    margin-left: 0px
}
.styled-button {
    background-color: #747474;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.styled-button:hover {
    background-color: #0d8369;
}
p{
    /* width: 50%; Занимает половину ширины родительского элемента */
    font-size: 20px;
    line-height: 1.5;
    
}
.GPT {
    margin-right: 20px
}
.buttonG{
    background-color: #747474;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.buttonG:hover{
    background-color: #253dc598;
}

.buttonID{
    background-color: #747474;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.buttonID:hover{
    background-color: #000000;
}
.paragraf{
    min-width: calc(50vw - 90px);
  
    width: calc(50vw - 90px);
    margin-right: 50px;
    animation: ani 1s;
    margin-top: 20px;
    
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
li{
    width: 150px;
    margin-top: 20px;
    background-color: #747474;
    border-radius: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Candara;
    position: static;
    transition-duration: 0.5s;
}
li:hover{
    background-color: #5e5e5e;
    width: 160px;
    height: 40px;
    transition-duration: 0.5s;
}
p{
    margin-top: 10px;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    color: #ffffff;
}
#op{
    margin-top: 20px;
    opacity: 1;
}
.buttonY{
    background-color: #747474;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.buttonY:hover{
    background-color: #f11c00;
}
.buttonGi{
    background-color: #747474;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.buttonGi:hover{
    background-color: #000000;
}
.statia{
    margin: 30px 100px 0px 100px;
    background-color: #f5f5f5;
    padding: 10px 40px ;
    height: auto;
    border-radius: 10px;
    text-align: center;
    font-family: Calibri;
}
.men_g{
    background-color: #f5f5f5 ;
    margin-top: 20px;
    margin-right: 40px;
    width: 25%;
    margin-left: 100px;
    height: fit-content;
    border-radius: 10px;
    display: flex;
    float: inline-start;
    padding: 15px;
    margin-bottom: 15px;
    
    
    text-align: center;

}
.annn{
    max-height: 100%;
    font-family: Calibri;
    height: fit-content;
}

@keyframes anim{
    0% {
        width: 0%;
    }
    100%{
        width: 25%;
    }
}
@keyframes ani{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.mmm{
    animation: ani 1s;
}
.styled-buttonI{
    background-color: #747474;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; 
}
.styled-buttonI:hover{
    background-color: #000000;
}
.styled-buttonSH{
    background-color: #747474;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; 
}
.styled-buttonSH:hover{
    background-color: #ff6600;
}
.buttonS{
    background-color: #747474;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.buttonS:hover{
    background-color: #4a81f7;
}
.buttonL{
    background-color: #747474;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.buttonL:hover{
    background-color: #874af7;
}
#lov{
    border-radius: 10px;
}

@media (max-width: 450px){
    header{
        padding: 0;
        height: 60px;
    }
   li{
    width: 90px;
    margin-right: 10px;
    margin-top: 15px;
    font-size: 12px;
    margin-left: 3px;
   }
   .men_g{
    margin-left: 10px;
    margin-right: 10px;
    float: none;
    width: auto;
    height: auto;
   }
   .statia{
   margin-left: 10px;
   margin-right: 10px;
   margin-top: 10px;
   }
h1{
    font-size: 0ch;
}
#an{
    margin-bottom: 10px;
}
h2{
    width: 100%;
}

.paragraf{
    width: 100%;
    margin-bottom: 30px;
    
    
}
}

@media (max-width: 400px){
    li{
        width: 60px;
        margin-right: 0px;
        margin-top: 15px;
        font-size: 10px;
        margin-left: 25px;
       }
       ul{
        justify-content:flex-start
       }
       .statia{
        margin-left: 5px;
        margin-right: 10px;
        margin-top: 10px;
        width: auto;
        }
        header{
            padding: 0;
            height: 60px;
        }
        .men_g{
            width: auto;
        }
       
}
@media (max-width: 340px){
    li{
        width: 60px;
        margin-right: 0px;
        margin-top: 15px;
        font-size: 10px;
        margin-left: 15px;
       } 
}
@media (min-width: 810px){
    li{
        width: 120px;
        margin-right: 0px;
        margin-top: 15px;
        font-size: 15px;
        margin-left: 15px;
       } 
       h1{
        font-size: 5;
       }
       #what{
        align-items: flex-start;
       }
       .men_g{
        width: auto;
        height: auto;
        margin-right: 100px;
       }
}
@media (min-width: 970px){
    li{
        width: 150px;
        margin-top: 20px;
        background-color: #747474;
        border-radius: 5px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Candara;
        position: static;
        transition-duration: 0.5s;
    }
    #what{
        align-items: center;
       }
       .men_g{
        background-color: #f5f5f5 ;
        margin-top: 20px;
        margin-right: 40px;
        width: 25%;
        margin-left: 100px;
        height: fit-content;
        border-radius: 10px;
        display: flex;
        float: inline-start;
        padding: 15px;
        margin-bottom: 15px;
        
        text-align: center;
    
    }
    
}

